<ion-tabs>
  <ion-tab [root]="pageHome" tabTitle="Todos" tabIcon="home"></ion-tab>
  <ion-tab [root]="about" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="contact" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs>
