<!--
  Generated template for the TodoFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

      <ion-buttons start>
        <button ion-button icon-only (click)="cancelForm()">
          <ion-icon name="backspace"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="ValidateForm()">
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
      </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>


<ion-list>
  <ion-item>
    <ion-label floating>Title : </ion-label>
    <ion-input type="text" [(ngModel)]="todo.titre" name="titre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Body : </ion-label>
    <ion-textarea  [(ngModel)]="todo.body" name="body"></ion-textarea>
  </ion-item>
</ion-list>
  <button ion-button icon-only (click)="navCtrl.pop()">
    <ion-icon name="arrow"></ion-icon>
  </button>

</ion-content>
