<!--
  Generated template for the TodoFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button icon-only (click)="cancelForm()">
          <ion-icon name="backspace"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="validateForm()">
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="todo.titre" placeholder="Titre" name="titre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea [(ngModel)]="todo.body" placeholder="Description" name="body"></ion-textarea>
    </ion-item>
  </ion-list>

  <button class="bouton" ion-button full (click)="navCtrl.pop()">Annuler
    <ion-icon name="arrow"></ion-icon>
  </button>
</ion-content>
