<!--
  Generated template for the TodoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>

            <ion-buttons start>
                <button ion-button icon-only (click)="showTodoForm({})">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>Todo</ion-title>

    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <button (swipe)="ShoactionSheet(todo)" ion-item *ngFor="let todo of srv.tableauDesTodos" (click)="itemSelected(todo)">
            {{ todo.titre }}
        </button>
    </ion-list>
</ion-content>
