<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="menu1">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of contactsArray" menuToggle="menu2" (click)="contactSelected(item)">
      {{ item.name.formatted }}
    </button>
  </ion-list>



  <button ion-button color="light" round menuToggle="menu1">Menu  1</button>
  <button ion-button color="light" round menuToggle="menu2">Menu  2</button>


</ion-content>
con
