<ion-header>
  <ion-navbar>
      <ion-buttons start>
        <button ion-button (click)="cancelForm()">
          <ion-icon name="ios-arrow-back"> Back</ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="validateForm()">
          <ion-icon name="ios-checkmark"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Titre :</ion-label>
      <ion-input type="text" [(ngModel)]="todo.titre" name="titre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Body :</ion-label>
      <ion-textarea [(ngModel)]="todo.body" name="body"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
