<!--
  Generated template for the TodoDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{todo.titre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div class="">{{ todo.body }}</div>

  <ion-navbar class="tabbar show-tabbar">
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <button ion-button icon-only (click)="navCtrl.pop()">
    <ion-icon name="arrow"></ion-icon>
  </button>
</ion-content>
