<!--
  Generated template for the PhotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>photo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button (click)="start($event)">PHOTO</button>

</ion-content>
