<!--
  Generated template for the TodoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="showTodoForm({})">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Todo</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list>
    <button (swipe)="actionSwipe(todo)" ion-item *ngFor="let todo of srv.tableauDesTodos" (click)="itemSelected(todo)">
      {{ todo.titre }}
    </button>
  </ion-list>
</ion-content>

