<!--
  Generated template for the TodoDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{todo.titre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div> {{todo.body}}</div>
  <button ion-button full icon-only (click)="navCtrl.pop()" class="btnPosition">Precedent
    <ion-icon name="arrow"></ion-icon>
  </button>
</ion-content>
