<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nouveau contact</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  {{ newContact | json }}
  <form (submit)="validateNewContact()" action="">
    <ion-list>
      <ion-item>
        <ion-label fixed>Family Name</ion-label>
        <ion-input [(ngModel)]="newContact.firstName" type="text" value="" name="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Given Name</ion-label>
        <ion-input [(ngModel)]="newContact.lastName" type="text" value="" name="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input [(ngModel)]="newContact.email" type="email" value="" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Phone number</ion-label>
        <ion-input [(ngModel)]="newContact.phone" type="tel" value="" name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <!--<ion-input type="submit" value="Save"></ion-input>-->
        <button ion-button full type="submit" value="Save">Save</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
