<!--
  Generated template for the UpdateFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>updateForm</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (submit)="updateContact($event)" >
    <ion-input type="hidden" name="id"></ion-input>
    <ion-list>


      <ion-item>
        <ion-label fixed>Family Name:</ion-label>
        <ion-input [(ngModel)]="newContact.firstName" type="text" value="" name="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>given Name:</ion-label>
        <ion-input [(ngModel)]="newContact.lastName" type="text" name="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>phone Numner:</ion-label>
        <ion-input [(ngModel)]="newContact.phone" type="tel" name="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>phone Numner:</ion-label>
        <ion-input [(ngModel)]="newContact.email" type="email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input  type="submit" value="Save"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
