<!--
  Generated template for the MesContactsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MesContacts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input type="text" value="" [(ngModel)]="contact.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Phone</ion-label>
    <ion-input type="text" value="" [(ngModel)]="contact.phone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="text" value="" [(ngModel)]="contact.email"></ion-input>
  </ion-item>
</ion-list>
  <button class="bouton" ion-button full (click)="createContact()">Valider
    <ion-icon name="arrow"></ion-icon>
  </button>
</ion-content>
