<ion-header>
  <ion-navbar>
    <ion-title>Todos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
    <button ion-item *ngFor="let todo of srv.tabDesTodos"
            (click)="itemSelected(todo, $event)"
            (press)="actionSheet(todo)"
            (swipe)="itemSelected(todo, $event)">{{ todo.titre }}
    </button>
  </ion-list>
  <div style="height: 100%;width: 100%;background: white;" (press)="actionSheet()">

  </div>
</ion-content>
