<ion-menu [content]="content" side="left" id="menu1">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose="menu1" ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu [content]="content" side="right" id="menu2"  >
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Contact Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list>
    <div>{{InContact.contactDto.display}}</div>
    <div>{{InContact.contactDto.email}}</div>
    <div>{{InContact.contactDto.phone}}</div>
    </ion-list>

    <button ion-button  menuClose="menu2" (click)="openEdit($event)">Edit</button>
    <button ion-button  menuClose="menu2" (click)="InContact.deleteContact()" color="danger">Danger</button>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
