<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nouveau Contact</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  {{newContact | json}}

  <form (submit)="validateNewContact($event)">
  <ion-list>

    <ion-item>
    <ion-label fixed="">Family Name</ion-label>
    <ion-input [(ngModel)]="newContact.lastName" type="text" name="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed="">First Name</ion-label>
      <ion-input [(ngModel)]="newContact.firstName" type="text" name="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed="">Phone Number</ion-label>
      <ion-input [(ngModel)]="newContact.phone" type="tel" name="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed="" >Email</ion-label>
      <ion-input type="email" [(ngModel)]="newContact.email" name="email" ></ion-input>
    </ion-item>

    <ion-item>

      <ion-input type="submit" name="save" ></ion-input>
    </ion-item>


  </ion-list>
  </form>

</ion-content>
