<ion-header>
  <ion-navbar>
    <ion-title>contacts</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-input type="text" placeholder="Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Phone Numbers"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>
