<ion-header>
  <ion-navbar>
    <ion-title>{{ todo.titre }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="ioncontent" (swipe)="preventPage($event)">
    {{ todo.body }}
  </div>
  <button ion-button full class="btnAction" (click)="presentActionSheet(todo)"
          >Actions</button>
</ion-content>
