<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contact</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!--{{pos | json}}-->
<div>Latitude {{pos.lat}}</div>
<div>Longitude {{pos.lon}}</div>

<div id="map"></div>

</ion-content>
