<ion-header>
  <ion-navbar>
    <ion-title>listContact</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  {{ newContact | json }}
  <ion-list>
    <ion-item>
      <ion-label fixed>Family Name :</ion-label>
      <ion-input ([ngModel])="newContact.firstName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Given Name :</ion-label>
      <ion-input ([ngModel])="newContact.givenName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Phone Number :</ion-label>
      <ion-input ([ngModel])="newContact.phoneNumber" type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>eMail :</ion-label>
      <ion-input ([ngModel])="newContact.email" type="email"></ion-input>
    </ion-item>
    <ion-item type="submit" value="save" (click)="validateNewcontact(e)"></ion-item>
  </ion-list>
</ion-content>
