<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="menu1">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nouveau Contact</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
{{ newContact | json }}
  <form (submit)="validateNewContact($event)" >

  <ion-list>

    <ion-item>
      <ion-label fixed>Family Name:</ion-label>
      <ion-input [(ngModel)]="newContact.firstName" type="text" value="" name="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>given Name:</ion-label>
      <ion-input [(ngModel)]="newContact.lastName" type="text" name="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>phone Numner:</ion-label>
      <ion-input [(ngModel)]="newContact.phone" type="tel" name="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>phone Numner:</ion-label>
      <ion-input [(ngModel)]="newContact.email" type="email" name="email"></ion-input>
    </ion-item>

    <ion-item>

      <ion-input  type="submit" value="Save"></ion-input>
    </ion-item>


  </ion-list>

  </form>
</ion-content>
