<!--
  Generated template for the TodoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-toolbar >
      <ion-buttons start>
        <button ion-button icon-only (click)="showTodoForm({})">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item (swipe)="showActionSheet(todo)" *ngFor="let todo of srv.tableauDesTodos" (click)="itemSelected(todo)">
      {{ todo.titre }}
    </button>
  </ion-list>
</ion-content>
