  <ion-tabs>
    <ion-tab tabIcon="ios-clipboard-outline" [root]="todopage"></ion-tab>
    <ion-tab tabIcon="ios-analytics" [root]="aboutpage"></ion-tab>
    <ion-tab tabIcon="ios-contacts" [root]="contactpage"></ion-tab>
    <ion-tab tabIcon="ios-people-outline" [root]="mescontacts"></ion-tab>
  </ion-tabs>

