<!--
  Generated template for the UpdateFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>updateForm</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (submit)="updateContact($event)">
    <ion-list>

      <ion-input type="hidden" name="id"></ion-input>

      <ion-item>
        <ion-label fixed="">Family Name</ion-label>
        <ion-input [(ngModel)]="newContact.lastName" type="text" name="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed="">First Name</ion-label>
        <ion-input [(ngModel)]="newContact.firstName" type="text" name="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed="">Phone Number</ion-label>
        <ion-input [(ngModel)]="newContact.phone" type="tel" name="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed="" >Email</ion-label>
        <ion-input type="email" [(ngModel)]="newContact.email" name="email" ></ion-input>
      </ion-item>

      <ion-item>

        <ion-input type="submit" name="save" >Save</ion-input>
      </ion-item>


    </ion-list>
  </form>


</ion-content>
